body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

#top-banner {
  position: relative;
  width: 100%;
  background-color: #7D2D0A;
  color: #FFFFFF;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  font-family: Arial, sans-serif;
  justify-content: space-between;
  align-items: center;
}

.left {
  float: left;
}

.right {
  float: right;
}