body {
  font-family: sans-serif;
  background-color: #FFFAEB;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: var(--text-2xl, 1.5rem);
  font-weight: var(--font-weight-medium, 700);
  line-height: 1.2;
  margin: 0;
}

#top-banner {
  display: flex;
  align-items: center;
  background-color: #7D2D0A;
  color: #FFFFFF;
  padding: 15px 30px;
}